DOCS_URL=http://host.docker.internal:8071
DRIVE_URL=http://host.docker.internal:8072
MESSAGES_URL=http://host.docker.internal:8901
# Match the cookie name in your Messages deployment.
MESSAGES_SESSION_COOKIE=sessionid
DINUM_API_TIMEOUT=10
